@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
        "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    position: relative;
    margin: 0;
    min-width: 320px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}

@layer components {
    /* 기본 버튼 */
    .btn-default {
        @apply w-full h-12 border border-gray-100 bg-gray-50;
    }
    /* 활성화 버튼 */
    .btn-active {
        @apply w-full h-12 bg-sub;
    }
    /* 48px 아이콘 */
    .icon-xl {
        @apply w-12 h-12;
    }
    /* 36px 아이콘 */
    .icon-llg {
        @apply w-9 h-9;
    }
    /* 32px 아이콘 */
    .icon-lg {
        @apply w-8 h-8;
    }
    /* 24px 아이콘 */
    .icon-md {
        @apply w-6 h-6;
    }
    /* 20px 아이콘 */
    .icon-ms {
        @apply w-5 h-5;
    }
    /* 18px 아이콘 */
    .icon-xs {
        @apply w-4.5 h-4.5;
    }

    .fade-in {
        @apply transition-opacity duration-500 opacity-100;
    }

    .fade-out {
        @apply transition-opacity duration-500 opacity-0;
    }
}
